.star-rating {
  font-size: 16px;
  cursor: pointer;
  display: grid;
}

.star-rating a:hover {
  cursor: pointer;
  color: #611212;
}

.star {
  display: inline-block;
}

.filled {
  color: #ffa41c;
}
